/* Global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "Ubuntu", sans-serif;
}

:root {
  --primary-color: #5ce4ca;
  --secondary-color: #fffae9;
  --primary-text-color: #003d31;
  --secondary-text-color: #596966;
  --text-bg-color: #fffaa4;
  --third-bg-color: #ff7d7d;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mini_wrapper {
  max-width: 570px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.light_btn {
  background-color: #fff;
  color: var(--primary-text-color);
}

.dark_btn {
  background-color: var(--primary-text-color);
  color: #fff;
}

h1 {
  color: var(--primary-text-color);
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 8.2rem;
  padding: 1.6rem 2.1rem;
  border-radius: 22px;
  color: var(--primary-text-color);
  background-color: #fff;
  display: inline-block;
}

h2 {
  color: var(--primary-text-color);
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 5.2rem;
  display: inline-block;
}

h2 > span {
  color: var(--primary-color);
}

h3 {
  color: var(--primary-text-color);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.6rem;
}

h4 {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

h5 {
  color: var(--primary-text-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
}

p {
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
}

a {
  color: var(--primary-text-color);
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
}

/* Header styles  */

header {
  background-image: url(./Images/language-landing/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}

.header_container {
  padding-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-basis: 20%;
}

.logo > p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 75%;
}

.nav_btn a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.header_btn {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.header_btn > a {
  padding: 0.8rem 2.4rem;
  border-radius: 4px;
}

.header_btn > .light_btn {
  background: #00000000;
  border: 1px solid #000;
}

/* Hero styles */

.hero {
  max-width: 726px;
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.hero_headings {
  position: relative;
}

.hero_headings > .diff-color {
  font-weight: 700;
  background-color: var(--text-bg-color);
  margin: 2rem 2rem 0 0;
  background-color: var(--text-bg-color);
}

.hero_headings::before {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Illustrations2.png);
  height: 14.4rem;
  width: 14.4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: -150px;
}

.hero_headings::after {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Illustrations1.png);
  height: 18rem;
  width: 14rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 165px;
  right: -175px;
}

.hero_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  position: relative;
}

.hero_btn::before {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Union.png);
  height: 7.1rem;
  width: 6.8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: -350px;
}

.hero_btn::after {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Union2.png);
  height: 7.1rem;
  width: 6.8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50px;
  right: -300px;
}

/* About styles */

.about_content {
  margin: 150px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 130px;
}

.about_img {
  flex-basis: 45%;
}

.about_text {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  row-gap: 20px;
}

/* Features one styles */

.features_one {
  text-align: center;
}

.box {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.single_box {
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  row-gap: 2rem;
  flex-basis: 31%;
}

.single_box span {
  font-weight: 700;
}

/* Features two styles starts */

.features_two {
  margin: 15rem 0;
}

.features_two_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 13rem;
}

.features_two_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3rem;
  flex-basis: 60%;
}

.features_two_text a {
  background-color: var(--text-bg-color);
}
.features_two_img {
  flex-basis: 40%;
}

/* Countdown styles */

.countdown {
  background-color: var(--third-bg-color);
}

.countdown_content {
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.countdown_content::before {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Union3.png);
  height: 3.5rem;
  width: 3.4rem;
  left: 25px;
  top: 40px;
}

.countdown_content::after {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/Union4.png);
  height: 3.5rem;
  width: 3.4rem;
  right: 75px;
  bottom: 55px;
}

/* Testimonial styles starts */

.testimonial {
  padding: 7rem 0 12rem;
  background: var(--secondary-color);
}

.testimonial_heading {
  text-align: center;
  margin-bottom: 7rem;
}

.testimonial_heading h2 {
  margin-bottom: 2rem;
}

.testimonial_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.testimonial_box p {
  font-size: 1.6rem;
}

.testimonial_singlebox {
  background: #fff;
  border-radius: 12px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.8rem;
  flex-basis: 31%;
}

.testimonial_singlebox_heading {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.testimonial_singlebox_heading_content {
  display: flex;
  flex-direction: column;
}

.testimonial_singlebox_heading_content > p > span {
  font-weight: 700;
}

.testimonial_singlebox_quotation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial_singlebox_quotation .rectangle {
  max-width: 75%;
}

/* CTA Section styles starts */

.cta_section {
  padding: 10rem 0;
  background-color: var(--primary-color);
}

.cta_section .mini_wrapper {
  margin: 0;
}

.cta_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta_content > * {
  flex-basis: 100%;
}

.cta_headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}
.cta_headings h2 {
  padding: 1.6rem 2.5rem;
  background-color: #fff;
  border-radius: 12px;
  font-weight: 500;
}

.cta_headings > h2:last-child {
  background-color: var(--text-bg-color);
  font-weight: 700;
}

.cta_content_para {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1.5rem;
  flex-basis: 50%;
}

.cta_content_para_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}

.cta_content_para_btn > .light_btn {
  padding: 1.5rem 5rem 1.5rem 4rem;
  position: relative;
}

.cta_content_para_btn > .light_btn::before {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/flag.png);
  background-position: center;
  background-size: cover;
  height: 1.3rem;
  width: 1.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.cta_content_para_btn > .light_btn::after {
  content: "";
  position: absolute;
  background-image: url(./Images/language-landing/down-arrow.png);
  background-position: center;
  background-size: cover;
  height: 0.6rem;
  width: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

/* Footer styles */

.footer {
  background-color: var(--secondary-color);
}

.footer h2 {
  margin-bottom: 2rem;
}

.footer_first > p > span {
  font-weight: 700;
  text-decoration: underline;
}

.footer_first {
  padding: 10rem 0;
  text-align: center;
}

.footer hr {
  border: 1px solid #dad0af;
}

.footer :nth-child(2 of hr) {
  max-width: 900px;
  margin: 0 auto;
}

.footer_middle {
  max-width: 900px;
  margin: 0 auto;
  padding: 5.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.footer a {
  padding: 0;
  font-weight: 400;
}

.dialect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
}

.dialect_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}
.learn_more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
}

.learn_more_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
}

.products_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
}

.support_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

.footer_last {
  max-width: 900px;
  margin: 0 auto;
  padding: 3.5rem 1rem;
}

.footer_last_heading {
  margin-bottom: 4rem;
}

.footer_last_heading > h5 {
  margin-bottom: 2.5rem;
}

.footer_last_heading_ln {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.4rem;
}

.footer_last_copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_last_logo .fa-brands {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
  transition: 300ms all ease;
}

.footer_last_logo a:hover .fa-brands {
  background-color: blue;
  color: white;
}

/* Footer styles ends */

/* Responsive styles  */

@media (max-width: 1100px) {
  .wrapper {
    max-width: 980px;
  }

  html {
    font-size: 58%;
  }

  /* Hero styles  */

  .hero_headings::before {
    top: 0;
    left: -90px;
  }

  .hero_headings::after {
    top: 165px;
    right: -115px;
  }

  .hero_btn::before {
    top: 0;
    left: -300px;
  }

  .hero_btn::after {
    top: 50px;
    right: -245px;
  }

  /* CTA styles  */

  .cta_content > * {
    flex-basis: 100%;
  }
}

@media (max-width: 980px) {
  .wrapper {
    max-width: 760px;
  }

  html {
    font-size: 55%;
  }

  /* Hero styles  */

  .hero_headings > h1,
  p {
    position: relative;
    z-index: 5;
  }

  .hero_headings::before {
    height: 13.4rem;
    width: 13.4rem;
    top: -45px;
    left: 10px;
    z-index: 4;
  }

  .hero_headings::after {
    height: 17rem;
    width: 13rem;
    top: 190px;
    right: -10px;
    z-index: 4;
  }

  .hero_btn::before {
    height: 7.1rem;
    width: 6.8rem;
    top: 0;
    left: -190px;
    z-index: 4;
  }

  .hero_btn::after {
    height: 7.1rem;
    width: 6.8rem;
    top: 50px;
    right: -145px;
    z-index: 4;
  }

  /* About styles  */

  .about_content {
    margin: 10rem 0;
    flex-direction: column-reverse;
    row-gap: 5rem;
  }

  .about_text > h2 {
    max-width: 450px;
  }

  /* Features one styels  */

  .single_box {
    flex-basis: 48%;
  }

  /* Features two styles  */

  .features_two {
    margin: 10rem 0;
  }

  .features_two h2 {
    max-width: 520px;
  }

  .features_two_content {
    flex-direction: column;
    row-gap: 5rem;
  }

  .features_two_img {
    align-self: flex-end;
  }

  /* Countdown styles  */

  .countdown_content h3 {
    font-size: 2.7rem;
  }

  /* Testimonial styles  */

  .testimonial_box {
    row-gap: 3rem;
  }

  .testimonial_singlebox {
    flex-basis: 48%;
  }

  /* CTA styles  */

  .cta_content {
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  /* Footer styles  */

  .footer_middle {
    max-width: 700px;
  }

  .footer :nth-child(2 of hr) {
    max-width: 700px;
  }

  .footer_last {
    max-width: 700px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    max-width: 550px;
  }

  html {
    font-size: 48%;
  }

  /* Header styles  */

  .header_container {
    flex-direction: column;
    row-gap: 2rem;
  }

  .nav_btn {
    column-gap: 3rem;
    position: relative;
    z-index: 5;
  }

  /* Hero styles  */

  .hero {
    padding: 7rem 0;
  }

  .hero p {
    color: var(--primary-text-color);
  }

  .hero_headings::before {
    top: -45px;
    left: 40px;
    opacity: 0.5;
  }

  .hero_headings::after {
    top: 155px;
    right: 0px;
    opacity: 0.5;
  }

  .hero_btn::before {
    left: -125px;
    top: -30px;
  }

  .hero_btn::after {
    top: 40px;
    right: -70px;
  }

  /* Features one styels  */

  .features_one .mini_wrapper {
    max-width: 550px;
  }

  .single_box {
    flex-basis: 100%;
  }

  /* Features two styles  */

  .features_two h2 {
    max-width: 450px;
  }

  .features_two_img {
    align-self: center;
  }

  /* Testimonial styles  */

  .testimonial_singlebox {
    flex-basis: 100%;
  }

  /* Footer styles  */

  .footer_middle {
    max-width: 500px;
  }

  .footer :nth-child(2 of hr) {
    max-width: 500px;
  }

  .footer_last {
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    max-width: 350px;
  }

  html {
    font-size: 40%;
  }

  h1 {
    padding: 1rem 1.6rem;
  }

  /* Header styles  */

  .nav_btn {
    flex-direction: column-reverse;
    row-gap: 1.6rem;
  }

  /* Hero styles  */

  .hero_headings > .diff-color {
    margin: 2rem 0;
  }

  .hero p {
    padding: 0 1rem;
  }

  .hero_headings::before {
    top: 30px;
    left: 1px;
  }

  .hero_headings::after {
    top: 140px;
  }

  .hero_btn > .dark_btn {
    position: relative;
    z-index: 5;
  }

  .hero_btn::before {
    left: -45px;
    top: -40px;
  }

  .hero_btn::after {
    top: 25px;
    right: 5px;
  }

  /* Countdown styles  */

  .countdown_content {
    flex-direction: column;
    row-gap: 3rem;
  }

  .countdown_content h3 {
    font-size: 3.2rem;
  }

  /* Footer styles  */

  .footer_middle {
    max-width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
  }

  .footer_middle > * {
    flex-basis: 50%;
  }

  .footer :nth-child(2 of hr) {
    max-width: 350px;
  }

  .footer_last {
    max-width: 350px;
  }
}

/* The END  */
